.section-heading {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.section-subtitle {
  display: inline-block;
  width: max-content;
  padding: 0.8rem 1.2rem;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-surface);
  border-radius: 50px;
}

.section-title {
  font-size: 2.5rem;
  line-height: 1.2;
  word-wrap: break-word;
  font-weight: 600;
  color: var(--color-text);
}

@media (width >= 768px) {
  .section-heading {
    row-gap: 1.5rem;
  }
  .section-subtitle {
    font-size: 1.6rem;
  }

  .section-title {
    font-size: 3rem;
  }
}

@media (width >= 1024px) {
  .section-heading {
    row-gap: 1.5rem;
  }

  .section-title {
    font-size: 3.5rem;
  }
}

@media (width >= 1280px) {
  .section-heading {
    row-gap: 1.7rem;
  }

  .section-title {
    font-size: 4rem;
  }
}
