<section class="how-it-works" aria-label="How It Works Section">
  <div class="container">
    <app-section-heading
      [sectionTitle]="'Rent with these 3 easy steps'"
      [sectionSubtitle]="'How it Works'"
      [personalizedClass]="'items-center'"
    />

    <ul class="easy-steps">
      @for (step of easySteps; track step.title) {
      <li>
        <article class="easy-step">
          <lucide-angular [img]="step.icon" size="40" class="step-icon" />

          <div class="step-data">
            <h3 class="step-title">{{ step.title }}</h3>
            <p class="step-desc">{{ step.desc }}</p>
          </div>
        </article>
      </li>
      }
    </ul>
  </div>
</section>
