<section class="download-section" aria-label="Download Section">
  <div class="container">
    <div class="download-data">
      <app-section-heading
        [sectionTitle]="'Download Rentcars App for FREE'"
        [sectionSubtitle]="'Download'"
      />

      <p class="download-desc">
        For faster, easier booking and exclusive deals.
      </p>

      <div class="download-links">
        <a href="/" role="button" aria-label="Download Android App">
          <img
            src="/google-play-btn.png"
            alt="Google Play"
            class="download-link"
          />
        </a>

        <a href="/" role="button" aria-label="Download Android App">
          <img
            src="/app-store-btn.png"
            alt="Apple App Store"
            class="download-link"
          />
        </a>
      </div>

      <!-- ========== Vector ========== -->
      <img
        src="/choose-us-vector.png"
        alt="Section Vector"
        class="vector"
        loading="lazy"
      />
    </div>

    <figure class="iphone-mockup">
      <img src="/iphone-mockup.png" alt="iPhone Mockup" loading="lazy" />
    </figure>
  </div>
</section>
