<section class="cars-section" aria-label="Cars Section">
  <div class="container">
    <app-section-heading
      [sectionTitle]="'Most popular cars rental deals'"
      [sectionSubtitle]="'Popular Cars'"
      [personalizedClass]="'items-center'"
    />

    <ul class="cars">
      <!--============== Loading State ==============-->
      @if (!carsService.errorState() && carsService.isLoading()) { @for (card of
      skeletonCards; track card) {
      <li>
        <app-car-skeleton-card />
      </li>
      } }

      <!--============== Home Cars ==============-->
      @if (!carsService.errorState() && !carsService.isLoading() &&
      heroCars().length > 0) { @for (car of heroCars(); track car.id) {
      <li>
        <app-car-card [car]="car" />
      </li>
      } }
    </ul>

    <button class="show-all-btn">Show All</button>
  </div>
</section>
